/* ESTILOS COMUNES A TODAS LAS SECCIONES */
h2 {
    color: #FF0000;
    font-size: 4rem;
}

.circuits_img_info {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: space-between;
}

.circuits_img {
    max-height: 50vh;
    max-width: 45vw;
}

.circuits_info {
    align-items:center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content:space-around;
    width: 50vw;
}

.circuits_info h3 {
    font-size: 1.75rem;
    text-decoration: underline;
}

.circuits_info ul {
    list-style-type: none
}

.circuits_info li {
    color: #FFFFFF;
    font-size:1.5rem;
    padding-left: 2vw;
}

.circuits_info table {
    border-collapse: collapse;
    height: 20vh;
    width: 80%;
}

.circuits_info th{
    background-color: #B2B2B2;
    border: #000000 3px solid;
}

.circuits_info td{
    background-color: #FFFFFF;
    border: #000000 3px solid;
    height:max-content;
    text-align: center;
    width: 20%;
}

.circuits_info img {
    max-height: 5vh;
    max-width: 10vw;
}

/* SECCIÓN INDOOR / COMPETICIÓN */
.circuits_indoor_competition {
    background-color: #000000;
    height: max-content;
    padding: 2vw;
    width: calc(100% - 4vw);
}

.circuits_indoor_competition h3{
    color: #FFFFFF;
}

/* SECCIÓN OUTDOOR */
.circuit_outdoor{
    background-color: #FF0000;
    height: max-content;
    padding: 2vw;
    width: calc(100% - 4vw);
}

.circuit_outdoor h2, .circuit_outdoor li {
    color: #000000;
}

@media  screen and (max-width: 768px) {
    h2 {
        font-size: 2.75rem;
        text-align: center;
    }

    .circuits_img_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .circuits_img{
        max-width: 60vw;
        max-height: 50vh;
    }

    .circuits_info{
        width: calc(100% - 4vw);
    }

    .circuits_info h3{
        font-size: 1.25rem;
    }
    
    .circuits_info li{
        font-size: 1rem;
    }

    .circuits_info table{
        font-size: x-small;
        height: 15vh;
    }
}