.pista_indoor_compe {
    background-color: black;
    width: calc(100% - 4vw);
    height: 90vh;
    padding: 2vw;
}

.pista_indoor_compe h2{
    color: #FF0000;
    font-size:4.5rem;
    letter-spacing: 3px;
}

.pista_indoor_compe h3{
    color: white;
    text-decoration: underline;
    font-size:2rem;
}

.pistas_img_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pistas_img {
    max-width: 45vw;
    max-height: 50vh;
}

.pistas_info {
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    padding-top: -30px;
}

.pistas_info li {
    color: white;
    display: flex;
    justify-content: left;
    font-size:2rem;
    padding-left: 2vw;
}

.pistas_info table {
    width: 75%;
    height: 20vh;
}

.pistas_info th{
    color: black;
    background-color: grey;
    text-align: center;
    width: 20%;
    height: 40%;
}

.pistas_info td{
    color: black;
    background-color: white;
    text-align: center;
    width: 20%;
    height: 50%;
}

.pistas_info img {
    max-height: 5vh;
    max-width: 10vw;
}
@media  screen and (max-width: 768px) {

    .pista_indoor_compe{
        height: 90vh;
    }


    .pista_indoor_compe h2{
        display: flex;
        justify-content: center;
        font-size: 10vw;
    }

    .pistas_img_info{
        max-width: 50vw;
        max-height: 50vh;
        justify-content:center;
    }

    .pistas_img{
        justify-content: center;
        width: 70vw;
        height: 20vh;
        position: relative;
        bottom: 25vw;
        left: 20vh;
    }

    .pistas_info{
        justify-content: end;
        align-items: center;
        align-content: center;
        position: relative;
        top:30vw;
        clear: both;
        width: auto;
    }

    .pistas_info li{
        font-size: 1.05rem;
        width: auto;
        padding: 1vw;
    }

    .pistas_info table{
        font-size: x-small;
        width: 70px;
        padding: 2vw;
    }

    .pistas_info h3{
        font-size: smaller;
    }
    .pistas_info button{
        align-self: flex-start;
    }   
}