/* BLOQUE DE BIENVENIDA */
.welcome {
    align-items: center;
    background-position: center;
    background-image:url(../img/index_welcome_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 90vh;
    justify-content: right;
    width: 100%;
}

.text-box {
    align-items: center;
    background: #FF0000;
    border: 10px solid rgba(139, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content:space-evenly;
    margin: 2vw;
    padding: 2vw;
    text-align: center;
    width: 300px;
}

/* BLOQUE DE CIRCUITOS+TWITTER */
.preview-circuits-aside {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100vh;
}

/* Circuitos */
.section-preview-circuits {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content:space-evenly;
    padding: 0 2vw;
}

.preview-circuits {
    background-color: white;
    border: 7px solid #FF0000;
    height: 60vh;
    width:calc(100% - 14px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

polygon {
    fill: #FF0000;
}

.preview-circuits-top {
    width: 50%;
    height: 10%;
}

.preview-circuits-middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-circuits-middle-left {
    width: 10%;
    height: 10%;
}

.preview-circuits-middle-right {
    width: 10%;
    height: 10%;
    transform: rotate(180deg);
}

.preview-circuits-bottom {
    width: 35%;
    height: 7%;
    transform: rotate(180deg);
}

/* Twitter */
aside {
    background-color: black;
    height: 100vh;
    padding: 0 2vw;
}

.supuesto-twitter {
    background-color: #FF0000;
    height: 100vh;
    width: 100%;
}



/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    .welcome {
        justify-content: center;
    }

    .preview-circuits-aside {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .preview-circuits {
        width: calc(100% - 14px) ;
    }
}