h1 {
    color: #FF0000;
    font-size: 4rem;
}

.container{
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: calc(100% + 4vw);
    padding: 2vw;
}

.form {
    display: flex;
    padding: 2vh 0;
}

.left {
    background: black url(../img/imagen_kart_reservas.jpg) no-repeat center/ cover;
    border: #FF0000 1.5vw solid;  
    border-radius: 10px 0 0 10px;
    display: flex;
    height: 70vh;
    justify-content: center;
    padding-top: 5%;
    width: 25vw;
}

h2 {
    color: #FFFFFF;
    font-size: 2rem;
}

.right {
    align-items: center;
    background: #FFFFFF;
    border: #FFFFFF 1.5vw solid;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content:space-between;
    padding-top: 5%;
    width: 50vw;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.right-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personal-data {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.date-phone {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.rent-data {
    display: none;
    flex-direction: column;
    width: 30vw;
}

input, select {
    background-color: #B2B2B2;
    border-color: #000000;
    border-radius: 5px;
    color: #000000;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.75rem;
    }

    .form {
        flex-direction: column;
        width: calc(100% - 4vw);
    }

    .left {
        border-radius: 10px 10px 0 0;
        height: 30vh;
        width: 100%;
    }
    
    .right {
        border-radius: 0 0 10px 10px;
        height: max-content;
        width: 100%;
    }

    .personal-data, .rent-data {
        width: 100%;
    }

    .date-phone {
        flex-direction: column;
    }
}