.container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-around;
    padding: 2vw;
    width: calc(100% - 4vw);
}

h2 {
    color: #FF0000;
    font-size: 4rem;
    text-align: center;
}

.text {
    color: #FFFFFF;
    font-size: 1.25rem;
    padding: 2vw;
    text-align: center;
}

.location-info {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 0;
    width: 100%;
}

.location {
    border: 3px solid #FF0000;
    height: 50vh;
    width: 30vw;
}

.info {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    height: 50vh;
    justify-content: space-around;
    text-align: center;
    width: 30vw;
}

h3 {
    color: #FF0000;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 3rem;
    }

    .text {
        font-size: 1rem;
    }

    .location-info {
        flex-direction: column;
        padding: 0;
    }

    .location, .info{
        width: 100%;
        margin: 3vh 0;
    }
}