body{
    background-color: #FF0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 10px 2vw;
    background-color: white;
    border-radius: 5px;
    color: black;
}

input[type="button"] {
    background-color: black;
    color: white;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

#bloque_get, #center, #bloque_post {
    display: flex;
    justify-content: center;
}

#center {
    height: min-content;
}

#primero{
    color: white;
}

#Input{
    width: 150px;
}